<?xml version="1.0" encoding="utf-8"?>
<RunSettings>

  <!-- Parameters used by tests at runtime -->
  <TestRunParameters>
    <!--<Parameter name="isLocal" value="true" />-->
    <Parameter name="ApplicationPath" value="T:\BainAppsTesting\GXCManagement\windows7\GXC Management.LNK" />
  </TestRunParameters>
</RunSettings>
